<div class="mdl-cell mdl-cell--<%= colUnit %>-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= title %></h2>
    </div>
    <div class="mdl-card__media mdl-color-text--grey-50" >
        <img src="<%= imageUrl %>" alt="<%= title %>" style="width: 100%;">
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div>
            <strong><%= text %></strong>
        </div>
        <div style="text-align:right;">
            <span>-- <%= signoff %></span>
        </div>
    </div>
</div>