<div id="tetris-card-<%= cardId %>" class="mdl-cell mdl-cell--<%= colUnit %>-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Tetris</h2>
    </div>
    <div class="mdl-card__media">
        <canvas id="tetris-canvas-<%= cardId %>" class="tetris-canvas"></canvas>
    </div>
    <div class="tetris-card-actions mdl-card__actions mdl-card--border">
        <button id="tetris-control-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            Start
        </button>
    </div>
    <div class="mdl-card__menu">
    </div>
</div>
<script type="text/javascript">
    /*global $*/
    /*global initializeTetrisCard*/
    (function() {
        $(document).ready(function() {
            console.log('Initializing tetris-card-<%= cardId %>');
            initializeTetrisCard($('#tetris-card-<%= cardId %>'));
        });
    })();
</script>