<!doctype html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8">
  <meta name="description" content="Tetris">
  <meta name="author" content="p6vital">

  <title>Some Hurdles in Life</title>

  <!-- MDL assets-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-red.min.css" />
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <!-- Common Utils -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <% if(is_mobile) { %>
    <script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>
  <% } %>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script type="text/javascript" src="/js/base.js"></script>

  <!-- Tetris assets -->
  <link rel="stylesheet" type="text/css" href="/css/tetris.css">

  <% if(is_mobile) { %>
    <script type="text/javascript" src="/js/tetris/control.touch.js"></script>
  <% } else { %>
    <script type="text/javascript" src="/js/tetris/control.keyboard.js"></script>
  <% } %>

  <script type="text/javascript" src="/js/tetris/display.js"></script>
  <script type="text/javascript" src="/js/tetris/playfield.js"></script>
  <script type="text/javascript" src="/js/tetris/tetromino.js"></script>
  <script type="text/javascript" src="/js/tetris/init.js"></script>
</head>

<body>
    <div class="content-grid mdl-grid">
      <%- include( 'card/image.html', {
          colUnit: 12,
          title: 'P1 加油！',
          imageUrl: 'https://farm8.staticflickr.com/7438/8727662800_28dc1abbcd_c.jpg',
          text: 'P1加油！我也会努力的。一切都会好的。',
          signoff: 'P6于2016年5月8日@西雅图'
        }) %>
      <%- include( 'card/tetris.html', {cardId: '1', colUnit: 12}) %>
    </div>
</body>

</html>